
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
input {
  outline: 0;
}
input[type="submit"] {
  border: 0;
  cursor: pointer;
}
a {
  color: #17a2b8;
  text-decoration: none;
  transition: 0.5s;
}
a:hover {
  color: #20c997;
}
.login-container {
  width: 50%;
  margin: 0 auto;
  padding: 15px;
}
.btn-primary {
  background:#17a2b8;
  color: #fff;
  padding: 5px 10px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
  margin-bottom: 2px;
}
.btn-primary:hover {
  background:#0b9cb3;
  color: #fff;

}
.label {
  margin-bottom: 10px;
  font-weight: bold;
}
.text-center {
  text-align: center;
  padding: 5px;
}

h2 {
  color: #2f3542;
  font-size: 32px;
  margin-bottom: 25px;
}

.heading-border {
  height: 3px;
  width: 70px;
  background: #0b9cb3;
  margin: auto;
  margin-top: -10px;
  margin-bottom: 15px;
}
fieldset {
  border: 1px solid #fff;
  margin: 40px;
  padding: 25px;
  border-radius: 5px;
  padding-bottom: 0;
}
fieldset legend {
  font-size: 23px;
  color: #2f3542;
}


.form fieldset,
.contact fieldset,
.login fieldset {
  border: 1px solid #bfbbbb;
}
.form {
  box-shadow: 0 0 20px 2px #1a171780;
  width: 70%;
  padding: 7px 0;
  margin: 0 auto;
  border-radius: 3px;
}
.form input,
.form textarea {
  width: 98%;
  padding: 8px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #bfbbbb;
  margin-bottom: 15px;
}
.form input[type="submit"] {
  width: 30%;
  border-radius: 5px;
}
.container{
  margin: 0 auto;
  padding: 15px;
}
